# .NET
[Bb]in/
[Oo]bj/

# Build cache
xcframework_build/
*.xcframework
aar_build/
*.aar

# Native AOT outputs from build_android.sh
examples/MyNativeAOTAndroid/app/src/main/jniLibs/

## Xcode user data
xcuserdata/
